@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: Plus Jakarta Sans;
  background-color: #20212c;
  color: #828fa3;
}

.form_velo {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
}

form {
  background: #20212c;
  color:#828fa3;
  position:fixed;
  left: auto;
  margin: auto 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  transition: all 0.5s;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

form>input {
    display: table;
    margin: auto;
    line-height: 3;
    padding: 0 1em;
    cursor: pointer;
    z-index: 2;
    align-self: center;
  }

input{
  color: #20212c;
  font-weight: bolder; 
}

.board_hover{
  width: 16rem;
  height: 3rem;
  text-align: left;
  align-content: center;
}

.board_hover:hover {
  background-color: #e1e1e1;
  color: #635fc7;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  transition: all ease-in-out 0.3s;
}