@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: Plus Jakarta Sans;
    background-color: #20212c;
    color: #828fa3;
}

h1, h2, h3, h4 {
    color: #e1e1e1;
}


