.btn-new-task{
    position: absolute;
    top: .5rem;
    right: 1rem;
    padding: .3rem;
    margin: .2rem;
    border-radius: .4rem;
}

.state-container{
    height: 30rem;
    overflow-x: scroll;
    min-height: 100vh;
    scrollbar-width: none;
}
.state-columns-container{
    display: flex;
    
}
.state-columns{
    width: 20rem;
    height: 26rem;
}
.state-columns>h3{
    color: #2b2c37;
    font-weight: 600;
    font-size: 1.2em;
}

/* modal add-state */
.new-state-modal-container {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all 1s ease-in-out;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-state-form{
    width: 24rem;
    height: 12rem;
    background-color: #828fa3ab;
    border: solid 2px #828fa3;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.new-state-form>input{
    text-align: center;
    width: 18rem;
}
.new-state-form>button{
    text-align: center;
    width: 10rem;
    background-color: #2b2c37;
    border: solid 2px #828fa3;
    border-radius: 1rem;
}